body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

p {
    color: #fff;
}

.flexing {
    display: flex;
}

.centering {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav {
    grid-area: nav;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5%;

}

ul {
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
    margin: 0 5px;
}

#logo {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    font-weight: bold;
}


/* #darkening {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    z-index: 4;
} */

img {
    width: 100%;
    height: 100%;
    filter: brightness(70%);
}

.clickable:hover {
    transform: scale(1.2);
    transition: 0.2s ease-in;
    cursor: pointer;
}

#header {
    grid-area: header;
    background-color: #000;
    /* clip-path: polygon(0 0, 31% 0, 68% 100%, 0 100%); */
    /* padding: 0 20%; */

}

#back-div {

    width: 100%;
    height: 100%;
    background-color: #333;
    clip-path: polygon(0 0, 59% 0, 41% 100%, 0% 100%);
    display: flex;
    align-items: center;
    padding-left: 2%;
}

#bmi-calc {
    min-width: 35%;
    height: 80%;
    border: 1px solid #fff;
    background-color: #000;

}

#bmi-calc form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bmi-calc h6 {
    color: #fff;
    text-align: center;
    margin: 5px 0 0;
}

.bmi-input {
    margin: 5px 0;
    text-align: center;
    width: 100px;
}

#bmi-calc form button {
    border: 1px solid red;
    border-radius: 7px;
    margin-top: 5px;
    background-color: #000;
    color: #fff;
    padding: 5px;
    cursor: pointer;
}

#bmi-calc form button:hover {
    transform: scale(1.1);
    transition: .1s ease-in;
}

#info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    left: 45%;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}



.a-btn {
    /* width: 100%;
    height: 100%; */
    position: absolute;
    color: #fff;
    font-weight: bold;
    z-index: 20;

}

#workout {
    grid-area: workout;

}

#fasting {
    grid-area: fasting;
}

#food {
    grid-area: food;

}

#footer {

    width: 100%;
    margin-top: 5px;
    grid-area: footer;
    background-color: #000;
    flex-direction: column;

}

#footer h5 {
    margin: 5px 0 0;
    color: #fff;
}

#main {
    display: grid;
    width: 100%;
    height: 100%;
    /* padding: 0 2.5%; */
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.7fr 3fr 2fr 3fr 1.3fr;
    grid-template-areas: 'nav nav'
        'header header'
        'workout fasting'
        'food food'
        'footer footer'
    ;
}



@media screen and (min-width:768px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #main {
        display: grid;
        width: 100%;
        height: 100%;
        /* padding: 0 2.5%; */

        gap: 5px;
        grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
        grid-template-rows: 1fr 3fr 2fr 1fr 1fr;
        grid-template-areas: 'nav nav nav nav nav'
            '. header header header .'
            '. workout food fasting .'
            '. . . . .'
            'footer footer footer footer footer'

        ;
    }

    #back-div {
        padding-left: 10%;

    }

    #bmi-calc {
        width: 20%;
        padding-top: 30px;

    }


}

@media screen and (max-height:700px) {
    body {
        height: 800px;
    }
}

@media screen and (min-width:1000px) {
    #bmi-calc {
        min-width: unset;
        max-width: 20%;

        padding-top: 30px;

    }
}