body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

p {
    color: #fff;
}

.flexing {
    display: flex;
}

.centering {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav {
    grid-area: nav;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5%;

}

ul {
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
    margin: 0 5px;
}

#logo {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

a {
    text-decoration: none;
    color: #000;
}



/* #darkening {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    z-index: 4;
} */

img {
    width: 100%;
    height: 100%;
    filter: brightness(70%);
}

.clickable:hover {
    transform: scale(1.2);
    transition: 0.2s ease-in;
    cursor: pointer;
}

#header {
    grid-area: header;
    /* padding: 0 20%; */

}

#info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #fff;

    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}



.a-btn {
    /* width: 100%;
    height: 100%; */
    position: absolute;
    color: #fff;
    font-weight: bold;
    z-index: 20;

}

#workout {
    grid-area: workout;

}

#fasting {
    grid-area: fasting;
}

#food {
    grid-area: food;

}

#footer {

    width: 100%;
    margin-top: 5px;
    grid-area: footer;
    background-color: #000;
    flex-direction: column;

}

#footer h5 {
    margin: 5px 0 0;
    color: #fff;
}

#main {
    display: grid;
    width: 100%;
    height: 100%;
    /* padding: 0 2.5%; */
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.7fr 3fr 2fr 3fr 1.3fr;
    grid-template-areas: 'nav nav'
        'header header'
        'workout fasting'
        'food food'
        'footer footer'
    ;
}


@media screen and (min-width:768px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #main {
        display: grid;
        width: 100%;
        height: 100%;
        /* padding: 0 2.5%; */

        gap: 5px;
        grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
        grid-template-rows: 1fr 3fr 2fr 1fr 1fr;
        grid-template-areas: 'nav nav nav nav nav'
            '. header header header .'
            '. workout food fasting .'
            '. . . . .'
            'footer footer footer footer footer'

        ;
    }
}

@media screen and (max-height:700px) {
    body {
        height: 800px;
    }
}



.modal {

    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


    z-index: 200;
}

form {
    width: 300px;
    height: 300px;
    background-color: #333;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #A8003E;
}

form input {
    text-align: center;
    margin: 5px 0;


}

form h3 {
    text-align: center;
    color: #fff;
}

.close {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.close span {
    width: 20px;
    height: 20px;
    display: grid;
    place-content: center;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #A8003E;
    padding: 5px;
    color: #fff;
    cursor: pointer;
}

.close span:hover {
    transform: scale(1.1);
}

.submit-btn {
    width: 100px;
    height: 30px;
    border-radius: 7px;
    margin-top: 10px;
    color: #A8003E;
    cursor: pointer;
}

.submit-btn:hover {
    transform: scale(1.1);
}


.non-display {
    display: none;
}

#error-par {
    padding: 0 10px;
    text-align: center;
    color: red;
}