body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;

    font-family: 'Montserrat', sans-serif;

}

p {
    color: #fff;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
    margin: 0 5px;
}

.flexing {
    display: flex;
}

.centering {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav {
    grid-area: nav;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5%;
    /* height: 5vh; */

}

#logo {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#footer {
    /* height: 10vh;
    width: 100%; */
    /* margin-top: 5px; */
    grid-area: footer;
    background-color: #000;
    flex-direction: column;
    /* position: absolute;
    bottom: 0; */
}

#footer h5 {
    margin: 5px 0 0;
    color: #fff;
}

#header {
    grid-area: header;
    background-image: url('../images/undraw-images/time.svg');
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;

}

#info {
    grid-area: info;
}

#selection {
    grid-area: selection;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}

.circle {
    border: 3px solid pink;
    padding: 10px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 700;
}

#timer {
    grid-area: timer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#clock {
    width: 200px;
    height: 200px;
    border: 3px solid red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#digital {
    width: 80%;
    height: 20%;
    border: 1px solid #000;
}

#button-div {
    grid-area: button;


}

#button {
    width: 100px;
    height: 50px;
    border: 2px solid pink;
    border-radius: 7px;
}

#main {
    width: 100%;
    height: 100%;
    /* padding: 0 2.5%; */
    display: grid;
    gap: 5px;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 0.2fr 1fr 0.2fr 0.4fr 1fr 0.4fr 0.3fr;
    grid-template-areas:
        'nav nav nav'
        'header header header'
        'info info info'
        'selection selection selection'
        '. timer .'
        '. button .'
        'footer footer footer';


}

div {
    text-align: center;
}

@media screen and (min-width:900px) {
    #main {

        grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
        grid-template-rows: 1fr 0.2fr 0.4fr 1fr 0.4fr;
        grid-template-areas:

            '. header header header .'
            '. info info info .'
            '. selection selection selection .'
            '. . timer . .'
            '. . button . .';


    }
}