body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;

}

.flexing {
    display: flex;
}

#nav {
    grid-area: nav;
    align-items: center;
    justify-content: space-between;



}

#nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav ul li {
    list-style: none;
    margin: 0 5px;
}

a {
    text-decoration: none;
    color: #000;
}

.centering {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer {
    height: 9.5%;
    width: 100%;
    margin-top: 5px;
    grid-area: footer;
    background-color: #000;
    flex-direction: column;

    bottom: 0;
}

#footer h5 {
    margin: 5px 0 0;
    color: #fff;
}

p {
    color: #fff;
}

#nav {
    grid-area: nav;
}

#header {
    grid-area: header;
    background-image: url('../images/undraw-images/breakfast.svg');
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;

}

#input {
    grid-area: input;
    display: flex;
    align-items: center;
    justify-content: center;
}

#foodInput {
    width: 200px;
    height: 30px;
    text-align: center;
    font-size: 20px;
}



#foodQt {
    width: 50px;
    height: 30px
}

#size {
    height: 35px;
}

#input button {
    height: 35px;
    width: 35px;
    margin-left: 5px;
    border-radius: 50%;
    font-size: 20px;
    background-color: #666;
    color: #fff;
    cursor: pointer;
}

#list-box {
    grid-area: listBox;
    /* border: 1px solid red; */
    border-radius: 7px;
}

#main {
    display: grid;
    width: 95%;
    height: 90%;
    padding: 0 2.5%;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.5fr 1fr;
    grid-template-areas: 'nav nav'
        'header header'
        'input input'
        'listBox listBox'
    ;
}

#list-box ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#list-box ul li {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 2%;
    margin: 2px 0;
    border-bottom: 1px solid red;
}

#list-box ul li p {
    color: #000;
    padding: 0;
    margin: 0;
    width: 25%;
}

#list-box ul li h4 {
    padding: 0;
    margin: 0 2px;
    width: 50%;
    font-size: 12px;
}

#list-box ul li button {
    margin: 0 2px;
    border-radius: 50%;
    cursor: pointer;
}

@media screen and (min-width:768px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #main {
        display: grid;
        width: 90%;
        height: 90%;
        padding: 0 2.5%;

        gap: 5px;
        grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
        grid-template-rows: 0.2fr 0.7fr 0.5fr 1fr;
        grid-template-areas: 'nav nav nav nav nav'
            '. header header header .'
            '. input input input .'
            '. listBox listBox listBox .'

        ;
    }
}

@media screen and (max-height:700px) {
    body {
        height: 800px;
    }
}