body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;

    justify-content: center;


}

.flexing {
    display: flex;
}

#nav {
    grid-area: nav;
    align-items: center;
    justify-content: space-between;



}

#nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav ul li {
    list-style: none;
    margin: 0 5px;
}

a {
    text-decoration: none;
    color: #000;
}

.centering {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header {
    grid-area: header;
    background-image: url('../images/undraw-images/gym.svg');
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;

}

#selection {
    grid-area: selection;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    text-align: center;
}

.week-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.w-buttons {
    display: flex;
    justify-content: center;
}

button {
    margin: 5px 10px;
    background-color: #F50058;
    color: #fff;
    border-radius: 7px;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid white;
}

/* button:focus {
    background-color: #75002B;
} */

button:hover {
    background-color: #F74A89;

}

#main {
    width: 95%;
    height: 100%;
    display: grid;
    gap: 5px;

    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.5fr 2.3fr;
    grid-template-areas:
        'nav'
        'header'
        'selection';
}



.non-display {
    display: none;
}

.list-div {
    width: 100%;

}

.tr-add {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#select-wrapper {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

#tr-select,
#days,
#buttons-wrapper {
    width: 150px;

}

#tr-select,
#sets,
#days,
#buttons-wrapper,
#week-opt {
    height: 35px;
    border-radius: 7px;
    font-size: 18px;
    background-color: #F995BA;
    color: white;
    text-align: center;
    margin: 5px;

}

input {
    height: 32px;
    width: 50px;
    border-radius: 7px;
    font-size: 18px;
    background-color: #F995BA;
    color: white;
    text-align: center;
    border: 0.5px solid #000;
}



.list-ul {
    border: 1px solid #75002B;
    padding: 0 0 20px;
    border-radius: 7px;
}

.list-ul li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-ul li button {
    background-color: #000;
    text-align: center;
    display: grid;
    place-content: center;
}

span {
    margin: 0 1%;
    text-align: left;
}

.printer-btn {
    position: absolute;
    top: 93%;
    /* bottom: 0; */
    width: 100%;
    height: 50px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
}

.printer-btn button {
    padding: 2px;
}

@media screen and (min-width:768px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #main {
        width: 95%;
        height: 100%;
        display: grid;
        gap: 5px;

        grid-template-columns: 0.2fr 1fr 0.2fr;
        grid-template-rows: 0.2fr 0.5fr 2.3fr;
        grid-template-areas:
            'nav nav nav'
            'header header header'
            '. selection .';
    }

    #select-wrapper {
        justify-content: center;
        align-items: center;
    }

    .list-ul {
        display: flex;
        flex-direction: column;
        height: 350px;
        justify-content: flex-start;
        flex-wrap: wrap;

    }



    .printer-btn button {
        padding: 5px;
    }

    /* 
    span {
        margin: 0 50px;
    } */
}

.no-show {
    display: none;
}